{% extends 'base.html' %}

{% block enfant %}

    <div class="container-fluid pt-4 px-4">
        <div class="row g-4 justify-content-center">
            <div class="col-sm-12 col-xl-6 ">
                <div class="bg-secondary rounded h-100 p-4 ">
                    <h6 class="mb-4">Floating Label</h6>
                    <form action="{{ url_for('add_stock') }}" method="POST">
                        
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelect" aria-label="Floating label select example"  name="id_produit" required>
                                <option selected disabled value="">choos</option>
                                {% for row in produit %}
                                <option value="{{ row.0 }}">{{ row.1 }}</option>
                                {% endfor %}
                            </select>
                            <label for="floatingSelect">nom de produit</label>
                        </div>

                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelect" aria-label="Floating label select example"  name="id_magasin" required>
                                <option selected disabled value="">choos</option>
                                {% for row in magasin %}
                                <option value="{{ row.0 }}">{{ row.1 }}</option>
                                {% endfor %}
                            </select>
                            <label for="floatingSelect">Nom de magasin</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="int" class="form-control" id="floatingInput" placeholder="name@example.com" name="quantite" required>
                            <label for="floatingInput">quantite</label>
                        </div>

                        <div class="form-floating">
                            <button type="submit" class="btn btn-primary">Ajouter</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

