{% extends 'base.html' %}

{% block enfant %}

    <div class="container-fluid pt-4 px-4">
        <div class="row g-4 justify-content-center">
            <div class="col-sm-12 col-xl-6 ">
                <div class="bg-secondary rounded h-100 p-4 ">
                    <h6 class="mb-4">Floating Label</h6>
                    
                    
                        <form action="{{ url_for('upd_produit', id=produit[0]) }}" method="POST" >
                              
                            <div class="form-floating mb-3">
                                <input type="hidden" class="form-control" name="id" value="{{ produit[0] }}">
                                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="nom" required value=" {{ produit[1] }}">
                                <label for="floatingInput">nom</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="int" class="form-control" id="floatingInput" placeholder="name@example.com" name="categorie" required value=" {{ produit[2] }}">
                                <label for="floatingInput">categorie</label>
                            </div>


                            <div class="form-floating mb-3">
                                <input type="int" class="form-control" id="floatingInput" placeholder="name@example.com" name="prix" required value=" {{ produit[3] }}">
                                <label for="floatingInput">prix</label>
                            </div>


                            <div class="form-floating">
                                <button type="submit" class="btn btn-primary">Modifier</button>
                            </div>
                        </form>
                        
                </div>
            </div>
        </div>
    </div>


{% endblock %}

